/* Write your CSS here */
.notfound-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfound-container > h1 {
  color: white;
  font-size: 30px;
  font-family: 'Bree Serif';
}
